[submodule "vendored/brolib-sml"]
	path = vendored/brolib-sml
	url = https://github.com/hummy123/brolib-sml
[submodule "vendored/cozette-sml"]
	path = vendored/cozette-sml
	url = https://github.com/hummy123/cozette-sml
